.section--about-us-mission .about-us-mission__values:only-child {
  margin-top: 0;
}
.section--about-us-mission .about-us-mission__value-item:hover .value-item__wrapper {
  box-shadow: none;
  transform: translateY(0);
}