.section-featured-collection {
  --grid-mobile-horizontal-spacing: 50px;
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .section-featured-collection .collection .slider--tablet.product-grid {
    scroll-padding-left: 5rem;
  }
}
@media screen and (min-width: 750px) {
  .section-featured-collection .grid {
    --grid-desktop-horizontal-spacing: 20px;
    --grid-desktop-vertical-spacing: 20px;
  }
}
@media screen and (max-width: 575px) {
  .section-featured-collection .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
  .section-featured-collection .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
    width: calc(50% - var(--grid-mobile-horizontal-spacing) - 3rem);
  }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .section-featured-collection .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
  .section-featured-collection .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
    width: calc(33.3333% - var(--grid-mobile-horizontal-spacing) * 2 / 3);
  }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .section-featured-collection .slider--tablet.grid--peek .grid__item:first-of-type {
    margin-left: 5rem;
  }
}
.section-featured-collection .slider--desktop {
  --desktop-margin-left-first-item: 5rem;
}