@use "mixins/media" as *;

.footer__list-social {
  &.list-social {
    justify-content: flex-start;
    gap: 1rem;
  }

  .list-social__link {
    padding: 0.5rem;
  }

  .svg-wrapper {
    aspect-ratio: 1;
    height: auto;
    width: 30px;
  }
}
